<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917103275994-o83t8s63oo8jj67mqn8f4t8lb98ektca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917103275994-o83t8s63oo8jj67mqn8f4t8lb98ektca</string>
	<key>API_KEY</key>
	<string>AIzaSyBE3kQ8tvvooS_LD1Jt0y-ZaDdoGgOaaxk</string>
	<key>GCM_SENDER_ID</key>
	<string>917103275994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codedetails.joseskitchen</string>
	<key>PROJECT_ID</key>
	<string>joseskitchenrecepies</string>
	<key>STORAGE_BUCKET</key>
	<string>joseskitchenrecepies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917103275994:ios:1605810572dfa56d0d5ae3</string>
</dict>
</plist>